schemas/440/mediators/connectors.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/ns/synapse" xmlns="http://ws.apache.org/ns/synapse">
    <xs:element name="salesforce.getContact">
        <xs:complexType>
            <xs:attribute name="configKey" type="xs:string" use="required"/>
            <xs:attribute name="contactId" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>